@import './base.css';

/* reset základného layoutu */
html, body {
  margin: 0;
  padding: 0;
}

/* aplikácia má mať plnú šírku */
#app {
  width: 100%;
  min-height: 100vh;
  font-weight: normal;
}

/* odkazy – môžeš si nechať */
a {
  text-decoration: none;
  color: #4CAF50;
  transition: 0.3s;
}

a:hover {
  opacity: 0.8;
}

.page {
  max-width: 1100px;
  margin: 2rem auto;   /* horný + dolný odstup */
  padding: 1rem;
}
